#about {
    width: 100%;
    text-align: center;
    background: #fff;

    > div {
        padding: 20px 0;
        margin: 0 auto;

        h2 {
            margin: 0;
            padding: 20px 0;
            font-size: 32px;
        }

        p {
            padding: 0 20px;
        }
    }

    .introduction {
        h2 {
            padding-top: 30px;
        }

        p {
            font-size: 18px;
        }

        svg {
            width: 80px;
            height: 100px;
            margin: 0 auto;
            cursor: pointer;

            polygon {
                margin: 0 auto;
            }
        }
    }

    .the-man {
        background: linear-gradient(to bottom, white, #29334e);

        > div {
            display: flex;
            align-items: center;
            justify-content: center;

            > p {
                color: white;
                width: 600px;
                margin: 0 auto;
            }

            > div {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50%;

                > img {
                    width: 50%;
                    box-shadow: 0 0 20px 0 #000;
                }
            }
        }
    }

    .challenge {
        background: #29334e;
        color: white;
        padding-bottom: 0;

        h2 {
            padding-top: 50px;
        }

        > p {
            font-size: 14px;
            margin-bottom: 20px;
        }

        .video-container {
            padding: 20px;

            iframe {
                width: 100%;
                height: 400px;
                transform: translateY(2px);
            }
        }

        .card-container {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            margin-bottom: 30px;
            padding-top: 20px;

            .card {
                width: 250px;
                margin: 0 10px;

                h3 {
                    margin-top: 0;
                    margin-bottom: 20px;
                }

                p {
                    font-size: 14px;
                    padding: 0;
                }
            }
        }
    }

    #sponsorship {
        margin: 0;
        padding: 0;
        transform: translateY(-60px);
    }

    .sponsorship {
        padding-bottom: 0;
        // background: #131515;
        background: #b8c5d6;

        h2 {
            color: #fff;
        }

        > h3 {
            font-size: 22px;
        }

        .card-container {
            display: flex;
            justify-content: space-around;

            h2 {
                color: #fff;
            }

            @-webkit-keyframes slide-in-bottom {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
            @keyframes slide-in-bottom {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }

            .card {
                position: relative;
                display: flex;
                flex-direction: column;
                width: calc(100% / 3);
                padding: 20px 0 0;
                margin: 20px;
                background: #fff;
                box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
                cursor: pointer;

                &:nth-child(2) {
                    margin: 20px 0;
                }

                &:hover {
                    .sponsor-me {
                        -webkit-animation: slide-in-bottom 0.15s both;
                        animation: slide-in-bottom 0.15s both;
                        cursor: pointer;
                    }
                }

                h3 {
                    font-size: 32px;
                    margin: 0 0 10px;

                    &.gold {
                        color: gold;
                    }

                    &.silver {
                        color: silver;
                    }

                    &.bronze {
                        color: #cd7f32;
                    }
                }

                h4 {
                    font-size: 22px;
                }

                h5 {
                    font-size: 18px;
                    margin: 10px 0;
                }

                p {
                    font-size: 14px;
                }

                ul {
                    padding: 0 20px;
                    margin: 0 10px;

                    &:last-of-type {
                        margin-bottom: 10px;
                    }

                    li {
                        font-size: 14px;
                        margin: 5px 0;
                    }
                }

                .sponsor-me {
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    margin-top: auto;
                    background: #29334e;
                    opacity: 0;

                    a {
                        color: #fff;
                        font-weight: 500;
                        font-size: 28px;
                        text-align: center;
                        width: 100%;
                        padding: 20px 0;
                        transition: 0.1s;

                        &:hover {
                            color: #e50050;
                        }
                    }
                }
            }
        }

        .boat-image-container {
            padding: 20px 50px 10px;

            img {
                width: 100%;
            }
        }

        .other-sponsorship-container {
            padding: 30px;

            h6 {
                color: #fff;
                font-size: 28px;
                margin: 0 0 20px;
            }

            p {
                color: #fff;

                &:last-of-type {
                    margin-bottom: 30px;
                }
            }

            .btn--secondary {
                margin: 0 auto;
            }
        }
    }

    .charities {
        background: #fff;

        > p {
            margin-bottom: 40px;
        }

        .side-by-side {
            display: flex;
            margin: 20px 0;

            p,
            iframe {
                width: 50%;
            }

            iframe {
                height: 300px;
            }
        }

        .btn--tertiary {
            margin: 0 auto;
        }
    }

    .media {
        background: #b8c5d6;

        h2 {
            color: #fff;
        }

        .instagram-container {
            width: 66%;
            padding: 20px;
            margin: 0 auto;

            iframe {
                width: 100%;
            }
        }

        .news-buttons-container {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px 0;

            a ~ a {
                margin-left: 10px;
            }
        }
    }
}
