@mixin on-event($self: false) {
    @if $self {
        &,
        &:hover,
        &:active,
        &:focus {
            @content;
        }
    } @else {
        &:hover,
        &:active,
        &:focus {
            @content;
        }
    }
}

/// @param {String} $context
@mixin when-inside($context) {
    #{$context} & {
        @content;
    }
}

@mixin mobile {
    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
        @content;
    }
}

@mixin parallax(
    $image-path,
    $top-color: rgba(0, 0, 0, 0.2),
    $bottom-color: rgba(0, 0, 0, 0.2),
    $background-posistion: center
) {
    background: linear-gradient(to bottom, $top-color, $bottom-color),
        url($image-path);
    background-attachment: fixed;
    background-position: $background-posistion;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin parallax-top(
    $image-path,
    $top-color: rgba(0, 0, 0, 0.2),
    $bottom-color: rgba(0, 0, 0, 0.2)
) {
    background: linear-gradient(to bottom, $top-color, $bottom-color),
        url($image-path);
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
