// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

footer {
    color: #fff;
    padding: 50px 0 20px;
    background: #29334e;

    .logos-container {
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            margin: 0 10px;

            img {
                height: 100px;
            }
        }
    }

    .social-media {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 50px 0;

        a {
            margin: 0 5px;

            i {
                color: #fff;
                transition: 0.1s;

                &:hover {
                    color: #e50050;
                }
            }
        }
    }

    .copy {
        color: #fff;

        p {
            text-align: center;
            margin: 0;
        }
    }
}
